{% extends "menu.html" %} {% block content %}{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header"></div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row" id="informacoesAluno">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box">
            <span class="info-box-icon bg-dark elevation-1"
              ><i class="fas fa-user-graduate"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text"
                >{% if aluno.sexo == "M" %}Aluno{% else %}Aluna{% endif %}</span
              >
              <span class="info-box-number nomeAluno">{{aluno.nome}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Situação</span>
              <span class="info-box-number">Ativo</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-dark elevation-1"><i class="fa fa-book"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Polo</span>
              <span class="info-box-number">Goiânia</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        {% if aluno.possuiParcelaVencida %}
        <div class="col-12" id="alertaPagamentoVencido">
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5 class="d-flex justify-content-start align-items-center">
              <ion-icon name="card-outline" size="large" class="mr-2"></ion-icon>
              <div>Pagamento</div>
            </h5>
            Caro aluno, você possui pagamentos em aberto! consulte a aba financeiro ao lado para
            saber mais.
          </div>
          <!-- /.info-box -->
        </div>
        {% endif %}
        <!-- /.col -->

        {% if aluno.notificacao is not None %}
        <div class="col-12" id="notificacaoDoSistema">
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5 class="d-flex justify-content-start align-items-center">
              <ion-icon name="information-circle-outline" size="large" class="mr-2"></ion-icon>
              <div>Notificação do Sistema</div>
            </h5>
            {{aluno.notificacao}}
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        {% endif %}
      </div>

      <!-- /.row -->

      {% if messages %} {% for message in messages%}
      <div
        {%
        if
        message.tags
        %}
        class="{{ message.tags }}"
        {%
        endif
        %}
        style="text-align: center"
        role="alert"
      >
        {{message}}
      </div>
      {% endfor %} {% endif %}

      <!-- /.row -->
      <div id="card-container-pagina-principal"></div>
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<input id="token" name="token" value="{{ csrf_token }}" style="display: none" />
<input id="idCursoAtual" name="idCursoAtual" value="" style="display: none" />

{% endblock content %}
