<div class="card card-dark">
  <div class="card-header d-flex align-items-center justify-content-between">
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      onclick="voltarDoMaterialParaAMateriaAtual('{{urlMateriasDoCurso}}','{{csrf_token}}')"
    >
      Voltar
    </button>
    <h3 class="card-title">Materiais - {{materia.nome}}</h3>
  </div>

  <div class="card-body">
    {% if perms.ava.podeFazerProvas %} {% if prova == None or not existeQuestaoCadastradaNaProva %}
    Prova Não Cadastrada no sistema {%else%}
    <div class="row">
      <div class="col-12 col-sm-6 col-md-auto">
        <div class="card-body">
          {%if alunoJaFinalizouAProva%}
          <button
            class="btn btn-block bg-gradient-secondary"
            onclick="ToggleInformacoesAluno() ; ExibirCardDaProva('{{urlProvas}}','{{csrf_token}}','{{prova.id}}')"
          >
            <i class="bi bi-pencil-square"></i>Visualizar a resolução da prova: {{prova.nome}}
          </button>
          {%else%}
          <button
            class="btn btn-block bg-gradient-danger"
            onclick="ToggleInformacoesAluno() ; ExibirCardDaProva('{{urlProvas}}','{{csrf_token}}','{{prova.id}}')"
          >
            <i class="bi bi-pencil-square"></i>Fazer a prova: {{prova.nome}}
          </button>
          {%endif%}
        </div>
      </div>
    </div>
    {% endif %} {% endif %}

    <div class="border-top border-dark">Anexos da Matéria:</div>
    <div class="row">
      {% for material in materiais %}
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card-body">
          <a href="{{material.anexo.url}}" target="_blank" class="btn btn-block bg-gradient-red">
            <b><i class="fas fa-book"></i>{{material.nomeDoMaterial}}</b>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
