<div class="card card-dark">
  <div class="card-header">
    <h3 class="card-title">Cursos Matriculados</h3>
  </div>
  {% if cursosMatriculados is not None %}
  <div class="card-body">
    <div class="row">
      {% for curso in cursosMatriculados %}
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card-body">
          <button
            href=""
            class="btn btn-block bg-gradient-red"
            onclick="registrarCursoAtual('{{curso.id}}') ; ExibirCardDasMateriasDoCurso('{{urlMateriasDoCurso}}','{{ csrf_token }}','{{curso.id}}')"
          >
            <b> <i class="fas fa-book"></i> {{curso.nome}}</b>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="card-body">Aluno não está matriculado em nenhum curso</div>
  {% endif %}
</div>
