{% load humanize %}
<div class="card card-dark">
  <div class="card-header">
    <h3 class="card-title" id="cardHeaderFinanceiro">Dados Financeiros - {{aluno.nome}}</h3>
  </div>

  {% if dadosFinanceirosDoAluno is None %}
  <div class="card-body">Aluno não está matriculado em nenhum curso</div>
  {% else %}
  <div class="card-body">
    <div id="accordion" class="accordion">
      {% for curso in dadosFinanceirosDoAluno%}
      <div class="card card-light">
        <div class="card-header">
          <h4 class="card-title w-100">
            <a class="d-block w-100" data-toggle="collapse" href="#collapse{{curso.id}}">
              {{curso.nome}}
            </a>
          </h4>
        </div>
        <div id="collapse{{curso.id}}" class="collapse" data-parent="#accordion">
          <div class="card-body">
            {% if curso.parcelas is not None%}
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Valor da Parcela</th>
                  <th>Data de Vencimento</th>
                  <th>Status do Pagamento</th>
                  <th>Boleto</th>
                </tr>
              </thead>
              <tbody>
                {%for parcela in curso.parcelas %}
                <tr>
                  <td>R${{parcela.valorDaParcela}}</td>
                  <td>{{parcela.dataDeVencimento|date:"d/m/Y"}}</td>
                  <td>
                    {% if parcela.pagamentoRealizado %}
                    <span class="badge badge-success">Pago</span>
                    {% else %} {% if parcela.parcelaVencida %}
                    <span class="badge badge-danger">Atrasado</span>
                    {% else %}
                    <span class="badge badge-warning">Pendente</span>
                    {% endif %} {% endif %}
                  </td>
                  <td>
                    <a
                      href="{{parcela.boleto.url}}"
                      target="_blank"
                      class="btn btn-sm bg-gradient-info"
                    >
                      <b>Visualizar</b>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %} Nenhum dado financeiro disponível para este curso {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
