{% for aluno in aluno %}
<div class="card card-info">
  <div class="card-header">
    <div class="d-flex align-items-center justify-content-between">
      <button
        class="btn btn-dark btn-sm"
        style="float: left"
        onclick="exibirCardGerenciarNotificacoes('{{urlCardGerenciarNotificacoes}}', '{{csrf_token}}');"
      >
        Voltar
      </button>
      <h3 class="card-title" id="cardHeaderEditarDados">
        Editar Notificação do aluno {{aluno.nome}}
      </h3>
      <div></div>
    </div>
  </div>

  <div class="card-body">
    <form
      id="formNotificacao"
      onsubmit="salvarNotificacao('{{urlSalvarNotificacao}}','{{csrf_token}}','{{urlCardGerenciarNotificacoes}}') ; return false"
    >
      <input type="hidden" value="{{aluno.id}}" id="idAlunoParaCriarNotificacao" />

      <div class="form-group">
        <label for="notificacao">Notificação</label>
        <textarea
          type="text"
          class="form-control"
          id="notificacao"
          name="notificacao"
          maxlength="510"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          required
        >
{{aluno.notificacao}}</textarea
        >
      </div>
      <button class="btn btn-info btn-sm" type="submit">Salvar</button>
    </form>
  </div>
</div>
{% endfor %}
