<div class="card card-dark">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h3 class="card-title d-flex align-items-center">Gerenciar Matérias</h3>
      <button
        class="btn btn-sm btn-success"
        onclick="exibirCardCriarUmaNovaMateria('{{urlCriarUmaNovaMateria}}','{{csrf_token}}')"
      >
        Criar uma nova matéria
      </button>
    </div>
  </div>

  <div class="card-body">
    {% if materias is not None%}
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome da Matéria</th>
          <th style="width: 30%">Prova</th>
          <th style="width: 30%"></th>
        </tr>
      </thead>
      <tbody>
        {%for materia in materias %}
        <tr>
          <td>{{materia.nome}}</td>
          <td>
            {% if materia.prova %}
            <button
              class="btn btn-sm btn-outline-secondary"
              onclick="exibirCardVisualizarProva('{{urlCardVisualizarProva}}','{{csrf_token}}','{{materia.id}}')"
            >
              Visualizar prova: {{ materia.prova.nome }}
            </button>
            {% else %}
            <button
              class="btn btn-sm btn-outline-success"
              onclick="exibirCardCadastrarProva('{{urlCardCadastrarProva}}','{{csrf_token}}','{{materia.id}}')"
            >
              Cadastrar prova
            </button>
            {% endif %}
          </td>
          <td
            class="d-flex justify-content-between border-top-0 border-left-0 border-right-0 {% if forloop.last %}border-bottom-0 {% endif %}"
          >
            <button
              class="btn btn-sm btn-outline-warning"
              onclick="exibirCardMateriaisDeUmaMateria('{{urlMateriaisDeUmaMateria}}','{{csrf_token}}','{{materia.id}}')"
            >
              Materiais
            </button>
            <button
              class="btn btn-sm btn-outline-info"
              onclick="exibirCardEditarDadosDeUmaMateria('{{urlCardEditarDadosDeUmaMateria}}','{{csrf_token}}','{{materia.id}}')"
            >
              Editar Dados
            </button>
            <button
              class="btn btn-sm btn-outline-danger"
              onclick="excluirUmaMateria('{{urlExcluirMateria}}','{{csrf_token}}','{{materia.id}}','{{urlCardGerenciarMaterias}}')"
            >
              Excluir
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %} Nenhuma matéria cadastrada no sistema. {% endif %}
  </div>
</div>
