{% extends "menu_administrativo.html" %} {% block content %}{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header"></div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->

      {% if messages %} {% for message in messages%}
      <div
        {%
        if
        message.tags
        %}
        class="{{ message.tags }}"
        {%
        endif
        %}
        style="text-align: center"
        role="alert"
      >
        {{message}}
      </div>
      {% endfor %} {% endif %}

      <!-- /.row -->
      <div id="card-container-administrativo-pagina-principal"></div>
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<input type="text" id="token" value="{{csrf_token}}" style="display: none" />

{% endblock content %}
