{% extends "menu_administrativo.html" %} {% block content %}{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header"></div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row" id="informacoesAluno">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box">
            <span class="info-box-icon bg-dark elevation-1"
              ><i class="fas fa-user-graduate"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">User</span>
              <span class="info-box-number nomeAluno">{{user.username}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Situação</span>
              <span class="info-box-number">Ativo</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-dark elevation-1"><i class="fa fa-book"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Polo</span>
              <span class="info-box-number">Goiânia</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <!-- /.col -->
        <!-- /.col -->
      </div>

      <!-- /.row -->

      {% if messages %} {% for message in messages%}
      <div
        {%
        if
        message.tags
        %}
        class="{{ message.tags }}"
        {%
        endif
        %}
        style="text-align: center"
        role="alert"
      >
        {{message}}
      </div>
      {% endfor %} {% endif %}

      <!-- /.row -->
      <div id="card-container-administrativo-pagina-principal"></div>
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}
