{% load humanize %}
<div class="card card-dark">
  <div class="card-header">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="card-title" id="cardHeaderEditarDados">Financeiro</h3>
    </div>
  </div>

  <div class="card-body">
    <div class="row" id="informacoesAluno">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box">
          <span class="info-box-icon bg-danger elevation-1"
            ><ion-icon name="close-circle-outline" size="large"></ion-icon
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Parcelas Atrasadas</span>
            <span class="info-box-number" id="qtdParcelasAtrasadas">{{qtdParcelasAtrasadas}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"
            ><ion-icon name="warning-outline" size="large"></ion-icon
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Parcelas a Receber</span>
            <span class="info-box-number" id="qtdParcelasPendentes">{{qtdParcelasPendentes}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box">
          <span class="info-box-icon bg-success elevation-1"
            ><ion-icon name="checkbox-outline" size="large"></ion-icon
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Parcelas Pagas</span>
            <span class="info-box-number" id="qtdParcelasPagas">{{qtdParcelasPagas}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
    </div>
    <div class="accordion" id="accordion">
      <div class="card card-success">
        <div class="card-header">
          <h4 class="card-title w-100">
            <a class="d-block w-100" data-toggle="collapse" href="#collapse"> Lançar Parcela </a>
          </h4>
        </div>
        <div id="collapse" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form id="cadastrarParcela">
              <div class="form-group">
                <label for="aluno" class="">Aluno: </label>
                <select class="form-control" id="aluno" name="aluno">
                  {% for aluno in alunos %}
                  <option value="{{aluno.id}}">{{aluno.nome}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="curso" class="">Curso</label>
                <select class="form-control" id="curso" name="curso">
                  {% for curso in cursos %}
                  <option value="{{curso.id}}">{{curso.nome}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="valorDaParcela" class="">Valor da parcela</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="valorDaParcela"
                    name="valorDaParcela"
                    oninput="limitarCasasDecimais(this)"
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="dataDeVencimento" class="">Data de Vencimento</label>
                <input
                  type="date"
                  class="form-control"
                  id="dataDeVencimento"
                  name="dataDeVencimento"
                />
              </div>

              <div class="form-group">
                <label for="arquivo" class="">Boleto</label>
                <input type="file" class="form-control-file" id="arquivo" name="arquivo" />
              </div>

              <div class="form-group">
                <label for="pagamentoRealizado" class="">Parcela já foi paga</label>
                <select class="form-control" id="pagamentoRealizado" name="pagamentoRealizado">
                  <option value="sim">Sim</option>
                  <option value="nao">Não</option>
                </select>
              </div>

              <button
                class="btn btn-sm btn-primary"
                onclick="enviarParcela('{{urlEnviarParcela}}','{{csrf_token}}','{{urlCardFinanceiroAdministrativo}}')"
                type="button"
              >
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if parcelas is not None%}
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Aluno</th>
          <th>Curso</th>
          <th>Valor da Parcela</th>
          <th>Data de Vencimento</th>
          <th>Status</th>
          <th>Boleto</th>
        </tr>
      </thead>
      <tbody>
        {%for parcela in parcelas%}
        <tr>
          <td>{{parcela.aluno.nome}}</td>

          <td>{{parcela.curso.nome}}</td>

          <td
            class="valorDaParcela"
            id="valorDaParcela{{parcela.id}}"
            style="cursor: pointer"
            title="Alterar valor desta parcela"
            onclick="alterarValorDaParcela('{{urlAlterarValorDaParcela}}','{{csrf_token}}','{{parcela.id}}')"
          >
            R${{parcela.valorDaParcela}}
          </td>

          <td
            class="dataDeVencimento"
            id="dataDeVencimento{{parcela.id}}"
            style="cursor: pointer"
            title="Alterar data de vencimento desta parcela"
            onclick="alterarDataDeVencimento('{{urlAlterarDataDeVencimento}}','{{csrf_token}}','{{parcela.id}}','{{urlCardFinanceiroAdministrativo}}')"
          >
            {{parcela.dataDeVencimento|date:"d/m/Y"}}
          </td>

          <td id="statusPagamentoParcela{{parcela.id}}">
            {% if parcela.pagamentoRealizado %}
            <span class="badge badge-success">Pago</span>
            {% else %} {% if parcela.parcelaVencida %}
            <span
              class="badge badge-danger"
              title="Clique para alterar o status para pago"
              style="cursor: pointer"
              onclick="alterarStatusDePagamentoParaPago('{{urlAlterarStatusDePagamentoParaPago}}','{{csrf_token}}','{{parcela.id}}',true)"
              >Atrasado</span
            >
            {% else %}
            <span
              class="badge badge-warning"
              title="Clique para alterar o status para pago"
              style="cursor: pointer"
              onclick="alterarStatusDePagamentoParaPago('{{urlAlterarStatusDePagamentoParaPago}}','{{csrf_token}}','{{parcela.id}}',false)"
              >Pendente</span
            >
            {% endif %} {% endif %}
          </td>

          <td>
            <a href="{{parcela.boleto}}" target="_blank" class="btn btn-sm bg-gradient-info">
              <b>Visualizar</b>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}Nenhuma parcela cadastrada no sistema{% endif %}
  </div>
</div>

<script>
  function limitarCasasDecimais(input, casasDecimais) {
    input.value = input.value.replace(/[^0-9.]/g, "");
    var partes = input.value.split(".");
    if (partes.length > 1) {
      partes[1] = partes[1].substring(0, 2);
    }
    input.value = partes.join(".");
  }
</script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<style>
  .valorDaParcela:hover,
  .dataDeVencimento:hover {
    background-color: #ccc;
  }
</style>
