<div class="card card-info">
  <div class="card-header">
    <div class="d-flex align-items-center justify-content-between">
      <button
        class="btn btn-secondary btn-sm"
        style="float: left"
        onclick="voltarParaOGerenciamentoDeCursos('{{urlCardGerenciarCursos}}', '{{csrf_token}}')"
      >
        Voltar
      </button>
      <h3 class="card-title" id="cardHeaderEditarDados">Editar Dados do Curso - {{curso.nome}}</h3>
      <button
        class="btn btn-secondary btn-sm"
        style="float: right"
        onclick=" salvarEdicaoNoCurso('{{urlSalvarCurso}}', '{{csrf_token}}', '{{curso.id}}', '{{urlCardGerenciarCursos}}')"
      >
        Salvar Edição
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="container">
      <form action="" method="post" id="dadosParaEdicaoDoCurso">
        <div class="form-group row">
          <label class="col-12 col-sm-2 d-flex align-items-center m-0" for="nomeDoCurso"
            >Nome</label
          >
          <input
            class="form-control col"
            id="nomeDoCurso"
            name="nomeDoCurso"
            type="text"
            value="{{curso.nome}}"
            required
          />
        </div>
      </form>
    </div>
  </div>
</div>
